{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap %}


{% block title %} Nueva Ficha {% endblock %}
        
{% block contenido %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


<script src="{% static 'plugins/select2/select2.min.js' %}"></script>

<link rel="stylesheet" href="{% static 'plugins/select2/select2.min.css' %}">
<link rel="stylesheet" href="{% static 'plugins/select2/select2-bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'plugins/bootstrap-datepicker/css/bootstrap-datepicker.css' %}">
<script src="{% static 'plugins/bootstrap-datepicker/js/bootstrap-datepicker.js' %}"></script>
<script src="{% static 'plugins/bootstrap-datepicker/locales/bootstrap-datepicker.es.min.js' %}"></script>


<style>
  .select2-container .select2-selection--single .select2-selection__rendered{
    margin-top: 0px;
  }
  .nav-tabs-custom > .nav-tabs > li.active{
    border-top-color:#00a65a;
  }
  .sub-style {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    color: green;
    font-size: 12;
    font-weight: bold;
  }
  .loader {
      display: none;
      animation: spin 2s linear infinite;
      position:   fixed;
      z-index:    1000;
      top:        0;
      left:       0;
      height:     100%;
      width:      100%;
      background: rgba( 255, 255, 255, .8 ) 
                url('http://i.stack.imgur.com/FhHRx.gif') 
                50% 50% 
                no-repeat;
  }



</style>

<div class="box box-primary with-border">
        <div class="box-body">
        <p class="pull-right">Fecha: {% now 'd-m-Y' %}</p>
        <h5 class="text-center sub-style">A. DATOS GENERALES DEL AFILIADO </h5><hr>        
          
          <form method="post" accept-charset="utf-8" id="formulario" class="form-horizontal" enctype='multipart/form-data' >
            {% csrf_token %}
         
            <h4>Datos del cónyuge:</h4>

            <div class="row">
              <div class="col-sm-5">
              {{form1.conyuge|bootstrap_horizontal:'col-xs-5'}}
              </div>
              <div class="col-sm-5"> 
               
              </div>
                            
            </div> 

            <div class="row">
            <div class="col-sm-5" id="id_identidad_conyuge"> 
               {{form1.identidad_conyuge|bootstrap_horizontal:'col-xs-5'}}
              </div> 
              <div class="col-sm-5" id="id_nombres_conyuge">
              {{form1.nombres_conyuge|bootstrap_horizontal:'col-xs-5'}}
              </div>
                             
            </div>


            <div class="row">
            <div class="col-sm-5" id="id_primer_apellido_conyuge"v> 
               {{form1.primer_apellido_conyuge|bootstrap_horizontal:'col-xs-5'}}
              </div>
              <div class="col-sm-5" id="id_segundo_apellido_conyuge">
              {{form1.segundo_apellido_conyuge|bootstrap_horizontal:'col-xs-5'}}
              </div>
                            
            </div><hr>   
            <div class="col-sm-12">
                  <a href="{% url 'editar_ficha_3' ficha.cod_censo  %}" class="btn btn-primary btn-large"><i class="glyphicon glyphicon-arrow-left"></i> Atrás</a>
                  <button type="submit" class="btn btn-success btn-md pull-right " id='btn-guardar'> Siguiente <i class="glyphicon glyphicon-arrow-right" ></i></button>
            </div>              
                  
        </div>               
      </form>
     </div>                
</div> 

<script>
  
  $(document).ready(function(){    

    // $('input[name=conyuge]').change(function(){
    //   if ($('input[name=conyuge]:checked').val() == 'True' ) {
    //     $('#id_identidad_conyuge, #id_nombres_conyuge, #id_primer_apellido_conyuge, #id_segundo_apellido_conyuge').show()
    //   }else{
    //     $('#id_identidad_conyuge, #id_nombres_conyuge, #id_primer_apellido_conyuge, #id_segundo_apellido_conyuge').hide()

    //   }
     
    // });

    // SOLO LETRAS

    $('#id_nombres_conyuge, #id_primer_apellido_conyuge, #id_segundo_apellido_conyuge').keydown(function(e) {
      if (e.shiftKey || e.ctrlKey || e.altKey) {
        e.preventDefault();
      } else {
        var key = e.keyCode;
        if (!((key == 8) || (key == 32) || (key == 46) || (key >= 35 && key <= 40) || (key >= 65 && key <= 90))) {
          e.preventDefault();
        }
      }
    });


    $('#id_identidad_conyuge').keydown(function(event) {
      // Allow special chars + arrows
      if (event.keyCode == 46 || event.keyCode == 8 || event.keyCode == 9
        || event.keyCode == 27 || event.keyCode == 13
        || (event.keyCode == 65 && event.ctrlKey === true)
        || (event.keyCode >= 35 && event.keyCode <= 39)){
          return;
      }else {
        // If it's not a number stop the keypress
        if (event.shiftKey || (event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105 )) {
          event.preventDefault();
        }
      }
    });

  });
</script>



{% endblock %}  
     <!-- /.content -->