<script>
  $('#id_cod_departament_nacimiento').change(function(){
      $('#id_cod_municipio_nacimiento').empty();
      $('#id_cod_municipio_nacimiento').append("<option value=''>---------------</option>");
       cod_departament_nacimiento = $(this).val()
       $.ajax({
          type: "GET",
          data: { cod_departament_nacimiento: cod_departament_nacimiento },
          url: "{% url 'ajax' %}",
          success: function(response){
           $.each(response, function(key, val){
              $('#id_cod_municipio_nacimiento').append("<option value="+val.cod_municipio+">" + val.desc_municipio + "</option>");
            });
              $('#id_cod_municipio_nacimiento').trigger("chosen:updated");
      }
   });
});
</script>


