{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap %}


{% block title %} Nueva Ficha {% endblock %}
        
{% block contenido %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


<script src="{% static 'plugins/select2/select2.min.js' %}"></script>

<link rel="stylesheet" href="{% static 'plugins/select2/select2.min.css' %}">
<link rel="stylesheet" href="{% static 'plugins/select2/select2-bootstrap.min.css' %}">



<style>
  .select2-container .select2-selection--single .select2-selection__rendered{
    margin-top: 0px;
  }
  .nav-tabs-custom > .nav-tabs > li.active{
    border-top-color:#00a65a;
  }
  .sub-style {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    color: green;
    font-size: 12;
    font-weight: bold;
  }
  .loader {
      display: none;
      animation: spin 2s linear infinite;
      position:   fixed;
      z-index:    1000;
      top:        0;
      left:       0;
      height:     100%;
      width:      100%;
      background: rgba( 255, 255, 255, .8 ) 
                url('http://i.stack.imgur.com/FhHRx.gif') 
                50% 50% 
                no-repeat;
  }



</style>

<div class="box box-primary with-border">
        <div class="box-body">
        <p class="pull-right">Fecha: {% now 'd-m-Y' %}</p>
        <h5 class="text-center sub-style">INGRESAR HIJOS </h5><hr>        
          
          <form method="post" accept-charset="utf-8" id="formulario" class="form-horizontal" enctype='multipart/form-data' > {% csrf_token %}
         
          
              {% for i in cantidad %}
                <div class="row">
            
              <div class="col-sm-5">
                  {{hijos.num_hijo|bootstrap_horizontal:'col-xs-5'}}
              </div>
               <div class="col-sm-5">
               {{hijos.nombre_hijo|bootstrap_horizontal:'col-xs-5'}}
              </div>              
            </div>

            <div class="row">
              <div class="col-sm-5">
                  {{hijos.edad|bootstrap_horizontal:'col-xs-5'}}
              </div>
               <div class="col-sm-5">
               {{hijos.estudia_trabaja|bootstrap_horizontal:'col-xs-5'}}
              </div>              
            </div>

            <div class="row">
              <div class="col-sm-5">
                  {{hijos.nivel_estudio|bootstrap_horizontal:'col-xs-5'}}
              </div>
               <div class="col-sm-5">
               {{hijos.institucion_estudio|bootstrap_horizontal:'col-xs-5'}}
              </div>              
            </div>

            <div class="row">
              <div class="col-sm-5">
                  {{hijos.institucion_trabajo|bootstrap_horizontal:'col-xs-5'}}
              </div>
               <div class="col-sm-5">
               {{hijos.sueldo|bootstrap_horizontal:'col-xs-5'}}
              </div>              
            </div><hr>
           

            {% endfor %}
 

              <div class="col-sm-12">
                 <button type="submit" class="btn btn-success btn-md pull-right" id='btn-guardar'><i class="" ></i> Siguiente</button>
                             
              </div>


        </div>                                   
           
                          
               
      </form>

                 
     </div>
                
</div> 

<script>


  $(document).ready(function(){


    //CAMBIO DE NOMBRE DE LOS CAMPOS PARA HACERLOS UN ARREGLO
    $('input[name=num_hijo]').attr('name', 'num_hijo[]')
    $('input[name=nombre_hijo]').attr('name', 'nombre_hijo[]')
    $('input[name=edad]').attr('name', 'edad[]')
    $('select[name=estudia_trabaja]').attr('name', 'estudia_trabaja[]')
    $('select[name=nivel_estudio]').attr('name', 'nivel_estudio[]')
    $('select[name=institucion_estudio]').attr('name', 'institucion_estudio[]')
    $('select[name=institucion_trabajo]').attr('name', 'institucion_trabajo[]')
    $('input[name=sueldo]').attr('name', 'sueldo[]')

  });

    $('#id_nombre_hijo').keydown(function(e) {
      if (e.ctrlKey || e.altKey) {
        e.preventDefault();
      } else {
        var key = e.keyCode;
        if (!((key == 8) || (key == 32) || (key == 46) || (key >= 35 && key <= 40) || (key >= 65 && key <= 90))) {
          e.preventDefault();
        }
      }
    });
  
  
</script>

{% endblock %}  
     <!-- /.content -->