{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap %}


{% block title %} Nueva Ficha {% endblock %}
        
{% block contenido %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="{% static 'plugins/select2/select2.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'plugins/select2/select2.min.css' %}">
<link rel="stylesheet" href="{% static 'plugins/select2/select2-bootstrap.min.css' %}">
<style>
  .select2-container .select2-selection--single .select2-selection__rendered{
    margin-top: 0px;
  }
  .nav-tabs-custom > .nav-tabs > li.active{
    border-top-color:#00a65a;
  }
  .sub-style {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    color: green;
    font-size: 12;
    font-weight: bold;
  }
  .loader {
      display: none;
      animation: spin 2s linear infinite;
      position:   fixed;
      z-index:    1000;
      top:        0;
      left:       0;
      height:     100%;
      width:      100%;
      background: rgba( 255, 255, 255, .8 ) 
                url('http://i.stack.imgur.com/FhHRx.gif') 
                50% 50% 
                no-repeat;
  

</style>

<div class="box box-primary with-border">
        <div class="box-body">
        <p class="pull-right">Fecha: {% now 'd-m-Y' %}</p>
        <h5 class="text-center sub-style">B. INFORMACION LABORAL  </h5><hr>        
          
          <form method="post" accept-charset="utf-8" id="formulario" class="form-horizontal" enctype='multipart/form-data' >
            {% csrf_token %}
         
            <div class="row">
              <div class="col-sm-5">
              {{form1.trabaja_actualmente|bootstrap_horizontal:'col-xs-5'}}
              </div>                            
            </div> 

            <div class="row">
              <div class="col-sm-5" style="display: none;" id="id_lugar_de_trabajo">
                  {{form1.lugar_de_trabajo|bootstrap_horizontal:'col-xs-5'}}
              </div>
               <div class="col-sm-5" style="display: none;" id="id_tipo_contratacion">
                  {{form1.tipo_contratacion|bootstrap_horizontal:'col-xs-5'}}
              </div>              
            </div>

            <div class="row">
              <div class="col-sm-5" style="display: none;" id="id_antiguedad_meses">
                  {{form1.antiguedad_meses|bootstrap_horizontal:'col-xs-5'}}
              </div>
               <div class="col-sm-5" style="display: none;" id="id_nombre_empresa">
                  {{form1.nombre_empresa|bootstrap_horizontal:'col-xs-5'}}
              </div>              
            </div>

             <div class="row">
              <div class="col-sm-5" style="display: none;" id="id_departamento_o_seccion">
                  {{form1.departamento_o_seccion|bootstrap_horizontal:'col-xs-5'}}
              </div>
               <div class="col-sm-5" style="display: none;" id="id_cargo">
                  {{form1.cargo|bootstrap_horizontal:'col-xs-5'}}
              </div>              
            </div>            

            <div class="row">
              <div class="col-sm-11" style="display: none;" id="direccion">
                  <p class="text-center sub-style">DIRECCION LABORAL </p>
              </div>
                           
            </div>

            <div class="row">
              <div class="col-sm-5" style="display: none;" id="id_cod_departamento">
                  {{form1.cod_departamento_empresa|bootstrap_horizontal:'col-xs-5'}}
              </div>

              <div class="col-sm-5" style="display: none;" id="id_cod_municipio">
               <label for="id_cod_municipio_empresa" class="col-xs-5 control-label">Municipio Empresa</label>
                   <div class="col-xs-7">
                      <select class="form-control" id="id_cod_municipio_empresa" name="cod_municipio">
                         <option value="">--------------</option>
                      </select>
                   </div>                 
              </div>
                            
            </div>

            <div class="row">
              <div class="col-sm-5" style="display: none;" id="id_barrio_o_colonia_empresa">
                  {{form1.barrio_o_colonia_empresa|bootstrap_horizontal:'col-xs-5'}}
              </div>
               <div class="col-sm-5" style="display: none;" id="id_calle_empresa" >
                  {{form1.calle_empresa|bootstrap_horizontal:'col-xs-5'}}
              </div>              
            </div><hr> 



              
                <div class="col-sm-12">
                 
                  <button type="submit" class="btn btn-success btn-md pull-right " id='btn-guardar'> Siguiente <i class="glyphicon glyphicon-arrow-right" ></i></button>
                </div>
             


        </div>                                   
                         
               
      </form>

                 
     </div>
                
</div> 

<script>

  $(document).ready(function(){

    $('#id_cod_departamento_empresa').change(function(){
      $('#id_cod_municipio_empresa').empty();
      $('#id_cod_municipio_empresa').append("<option value=''>---------------</option>");
       cod_departamento_empresa = $(this).val()
       $.ajax({
          type: "GET",
          data: { cod_departamento_empresa: cod_departamento_empresa},
          url: "{% url 'ajax3' %}",
          success: function(response){
           $.each(response, function(key, val){
              $('#id_cod_municipio_empresa').append("<option value="+val.cod_municipio+">" + val.desc_municipio + "</option>");
            });
              $('#id_cod_municipio_empresa').trigger("chosen:updated");
      }
   });
});

    $('input[name=trabaja_actualmente]').change(function(){
      if ($('input[name=trabaja_actualmente]:checked').val() == 'True') {
        $('#id_lugar_de_trabajo, #id_tipo_contratacion , #id_antiguedad_meses , #id_nombre_empresa, #id_departamento_o_seccion, #id_cargo , #id_direccion , #id_cod_departamento, #id_cod_municipio, #id_barrio_o_colonia_empresa, #id_calle_empresa').show()
      }else{
       
        $('#id_lugar_de_trabajo, #id_tipo_contratacion , #id_antiguedad_meses , #id_nombre_empresa, #id_departamento_o_seccion, #id_cargo , #id_direccion , #id_cod_departamento, #id_cod_municipio, #id_barrio_o_colonia_empresa, #id_calle_empresa').hide()       

      }
     
    });

    $('#id_cargo').keydown(function(e) {
      if (e.shiftKey || e.ctrlKey || e.altKey) {
        e.preventDefault();
      } else {
        var key = e.keyCode;
        if (!((key == 8) || (key == 32) || (key == 46) || (key >= 35 && key <= 40) || (key >= 65 && key <= 90))) {
          e.preventDefault();
        }
      }
    });



  });


   

 </script>


{% endblock %}  
     <!-- /.content -->