{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap %}


{% block title %} Nueva Ficha {% endblock %}
        
{% block contenido %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


<script src="{% static 'plugins/select2/select2.min.js' %}"></script>

<link rel="stylesheet" href="{% static 'plugins/select2/select2.min.css' %}">
<link rel="stylesheet" href="{% static 'plugins/select2/select2-bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'plugins/bootstrap-datepicker/css/bootstrap-datepicker.css' %}">
<script src="{% static 'plugins/bootstrap-datepicker/js/bootstrap-datepicker.js' %}"></script>
<script src="{% static 'plugins/bootstrap-datepicker/locales/bootstrap-datepicker.es.min.js' %}"></script>


<style>
  .select2-container .select2-selection--single .select2-selection__rendered{
    margin-top: 0px;
  }
  .nav-tabs-custom > .nav-tabs > li.active{
    border-top-color:#00a65a;
  }
  .sub-style {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    color: green;
    font-size: 12;
    font-weight: bold;
  }
  .loader {
      display: none;
      animation: spin 2s linear infinite;
      position:   fixed;
      z-index:    1000;
      top:        0;
      left:       0;
      height:     100%;
      width:      100%;
      background: rgba( 255, 255, 255, .8 ) 
                url('http://i.stack.imgur.com/FhHRx.gif') 
                50% 50% 
                no-repeat;
  }



</style>

<div class="box box-primary with-border">
        <div class="box-body">
        <p class="pull-right">Fecha: {% now 'd-m-Y' %}</p>
        <h5 class="text-center sub-style">A. DATOS GENERALES DEL AFILIADO </h5><hr>        
          
          <form method="post" accept-charset="utf-8" id="formulario" class="form-horizontal" enctype='multipart/form-data' >
            {% csrf_token %}
            <!-- <p class="page-header">hola3</p> -->

            <div class="row">
              <div class="col-sm-5">
                {{form1.barrio_o_colonia_domicilio|bootstrap_horizontal:'col-xs-5'}}
              </div> 
              <div class="col-sm-5">
               {{form1.calle_domicilio|bootstrap_horizontal:'col-xs-5'}}
              </div>             
            </div>

            <div class="row">  
            <div class="col-sm-5">
               {{form1.avenida_domicilio|bootstrap_horizontal:'col-xs-5'}}
              </div>  
              <div class="col-sm-5">
                {{form1.bloque_domicilio|bootstrap_horizontal:'col-xs-5'}}
              </div>         

            </div>

            <div class="row">  
            <div class="col-sm-5">
               {{form1.no_casa_domicilio|bootstrap_horizontal:'col-xs-5'}}
              </div>   
              <div class="col-sm-5">
                {{form1.color_domicilio|bootstrap_horizontal:'col-xs-5'}}
              </div>
            </div>

            <div class="row">  
            <div class="col-sm-5">
               {{form1.punto_referencia_domicilio|bootstrap_horizontal:'col-xs-5'}}
              </div>  
              <div class="col-sm-5">
                {{form1.telefono_fijo_domicilio|bootstrap_horizontal:'col-xs-5'}}
              </div>
            </div>

            <div class="row">
            <div class="col-sm-5">
               {{form1.telefono_otro_domicilio|bootstrap_horizontal:'col-xs-5'}}
              </div> 
              <div class="col-sm-5">
                {{form1.celular_domicilio|bootstrap_horizontal:'col-xs-5'}}
              </div>           


            </div>

            <div class="row">
            <div class="col-sm-5">
               {{form1.correo_electronico_domicilio|bootstrap_horizontal:'col-xs-5'}}
            </div>
            </div>
     

             <!-- formato correcto -->
            <div class="row">
              <div class="col-sm-5">
              </div>
               <div class="col-sm-5">
              </div>              
            </div> 
              <!-- <h5 class="text-center sub-style"><b>Lugar de nacimiento:</b></h5><hr> -->

  



              <div class="col-sm-12">
                 <button type="submit" class="btn btn-success btn-md pull-right" id='btn-guardar'><i class="" ></i> Siguiente</button> 
                             
              </div>


        </div>                                   
           
                 <!--  <button type="reset" class="btn btn-default btn-md"><i class="glyphicon glyphicon-repeat"></i> Limpiar</button>      -->                          
               
      </form>

                 
     </div>
                
</div> 

 <script>
   
    $('#id_fecha_nacimiento').datepicker({
      autoclose: true,
      format: 'dd-mm-yyyy',
      language: 'es',
    })
 </script>    



{% endblock %}  
     <!-- /.content -->