{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap %}


{% block title %} Nueva Ficha {% endblock %}
        
{% block contenido %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


<script src="{% static 'plugins/select2/select2.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'plugins/select2/select2.min.css' %}">
<link rel="stylesheet" href="{% static 'plugins/select2/select2-bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'plugins/bootstrap-datepicker/css/bootstrap-datepicker.css' %}">
<script src="{% static 'plugins/bootstrap-datepicker/js/bootstrap-datepicker.js' %}"></script>
<script src="{% static 'plugins/bootstrap-datepicker/locales/bootstrap-datepicker.es.min.js' %}"></script>


<style>
  .select2-container .select2-selection--single .select2-selection__rendered{
    margin-top: 0px;
  }
  .nav-tabs-custom > .nav-tabs > li.active{
    border-top-color:#00a65a;
  }
  .sub-style {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    color: green;
    font-size: 12;
    font-weight: bold;
  }
  .loader {
      display: none;
      animation: spin 2s linear infinite;
      position:   fixed;
      z-index:    1000;
      top:        0;
      left:       0;
      height:     100%;
      width:      100%;
      background: rgba( 255, 255, 255, .8 ) 
                url('http://i.stack.imgur.com/FhHRx.gif') 
                50% 50% 
                no-repeat;
          
  }
    .error{
    background-color: #BC1010;
    padding: 6px 12px;
    border-radius: 4px;
    color: white;
    font-size: 11 px;
    /*font-weight: bold;*/
    margin-left: 12px;
    margin-top: 6px;
    position: relative;
  }



</style>

<div class="box box-primary with-border">
        <div class="box-body">
        <p class="pull-right">Fecha: {% now 'd-m-Y' %}</p>
        <h5 class="text-center sub-style">A. DATOS GENERALES DEL AFILIADO </h5><hr>        
          
          <form method="post" accept-charset="utf-8" id="formulario" class="form-horizontal" enctype='multipart/form-data' > <!-- novalidate -->
            {% csrf_token %}
            <!-- <p class="page-header"></p> -->

           
         
              <!-- <h5 class="text-center sub-style"><b>Identificación:</b></h5><hr> -->
            <div class="row">
              <div class="col-sm-5">
                 {{form1.identidad|bootstrap_horizontal:'col-xs-5'}}
              </div> 
            
               <div class="col-sm-5">
                 {{form1.fecha_nacimiento|bootstrap_horizontal:'col-xs-5'}}
              </div>              
            </div>  

            <div class="row">
              <div class="col-sm-5 ">
                 {{form1.genero|bootstrap_horizontal:'col-xs-5'}}
              </div>
               <div class="col-sm-5 form-inline">
                 {{form1.estado_civil|bootstrap_horizontal:'col-xs-5'}}
              </div>              
            </div>

            <div class="row">            
              <div class="col-sm-5 ">
                {{form1.primer_apellido|bootstrap_horizontal:'col-xs-5'}}
                
              </div>  
                 <div class="col-sm-5">
                {{form1.segundo_apellido|bootstrap_horizontal:'col-xs-5'}}
              </div>  

            </div>


            <div class="row">
              <div class="col-sm-5" style="display: none;" id="id_apellido_casada">
              {{form1.apellido_de_casada|bootstrap_horizontal:'col-xs-5'}}
                
              </div>
              <div class="col-sm-5">
                {{form1.nombres|bootstrap_horizontal:'col-xs-5'}} 
              </div>
            </div>          


            <div class="row">
              <div class="col-sm-5">
                 {{form1.cod_departament_nacimiento|bootstrap_horizontal:'col-xs-5'}}
              </div>

               <div class="col-sm-5">
               <label for="id_cod_municipio_nacimiento" class="col-xs-5 control-label">Municipio nacimiento</label>
                   <div class="col-xs-7">
                      <select class="form-control" id="id_cod_municipio_nacimiento" name="cod_municipio" required>
                         <option value="">----------</option> 
                      </select>
                   </div>                 
              </div>              
            </div>

                         

            <div class="row">
              <div class="col-sm-5">
                 {{form1.edad|bootstrap_horizontal:'col-xs-5'}}
              </div>
               <div class="col-sm-5">
                 {{form1.numero_afiliado|bootstrap_horizontal:'col-xs-5'}}
              </div>              
            </div><hr>           


              <div class="col-sm-12">
                 <button type="submit" class="btn btn-success btn-md pull-right " id='btn-guardar'> Siguiente <i class="glyphicon glyphicon-arrow-right" ></i></button>             
               
             </div>


            </div>                                   
           
                            
               
      </form>

                 
     </div>
                
</div> 

 <script>

  $(document).ready(function () {
    

    $('input[name=estado_civil], input[name=genero]').change(function(){
      if ($('input[name=estado_civil]:checked').val() == 'B' && $('input[name=genero]:checked').val() == 'F' ) {
        $('#id_apellido_casada').show()
      }else{
        $('#id_apellido_casada').hide()

      }
      // console.log($('input[name=estado_civil]:checked').val(), $('input[name=genero]:checked').val(), 'aaa')
    })


    $("#btn-guardar").click(function (){
        $(".error").remove();
        if( $("#id_identidad").val() == "" ){
            $("#id_identidad").focus().after("<span id='error' class='label label-danger'>Ingrese número de identidad</span>");
             setTimeout(function() {
            $('#error').fadeOut( "slow" );
            }, 3000);
            return false;
            
       
        }else if( $("#id_fecha_nacimiento").val() == "" ){
            $("#id_fecha_nacimiento").focus().after("<span id='error2' class='label label-danger'>Ingrese una fecha</span>");
                setTimeout(function() {
            $('#error2').fadeOut( "slow" );
            }, 3000);
            return false;
       
        }
    });
        // SOLO NUMEROS
        $('#id_identidad, #id_numero_afiliado').keydown(function(event) {
      // Allow special chars + arrows
      if (event.keyCode == 46 || event.keyCode == 8 || event.keyCode == 9
        || event.keyCode == 27 || event.keyCode == 13
        || (event.keyCode == 65 && event.ctrlKey === true)
        || (event.keyCode >= 35 && event.keyCode <= 39)){
          return;
      }else {
        // If it's not a number stop the keypress
        if (event.shiftKey || (event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105 )) {
          event.preventDefault();
        }
      }
    });


    // SOLO LETRAS
  
    $('#id_primer_apellido, #id_segundo_apellido, #id_nombres').keydown(function(e) {
      if (e.ctrlKey || e.altKey) {
        e.preventDefault();
      } else {
        var key = e.keyCode;
        if (!((key == 8) || (key == 32) || (key == 46) || (key >= 35 && key <= 40) || (key >= 65 && key <= 90))) {
          e.preventDefault();
        }
      }
    });
 

    $('#id_fecha_nacimiento').datepicker({

      autoclose: true,
      format: 'yyyy-mm-dd',
      language: 'es',
    });


    $('#id_cod_departament_nacimiento').change(function(){
      $('#id_cod_municipio_nacimiento').empty();
      $('#id_cod_municipio_nacimiento').append("<option value=''>-----------</option>");
       cod_departament_nacimiento = $(this).val()
       $.ajax({
          type: "GET",
          data: { cod_departament_nacimiento: cod_departament_nacimiento },
          url: "{% url 'ajax' %}",
          success: function(response){
           $.each(response, function(key, val){
              $('#id_cod_municipio_nacimiento').append("<option value="+val.cod_municipio+">" + val.desc_municipio + "</option>");
            });
              $('#id_cod_municipio_nacimiento').trigger("chosen:updated");
      }
   });
});

});
   
    

 </script>   
{% endblock %}  
     <!-- /.content -->